<form id="contact-form" class="row mb-0" method="POST">
  <div class="col-md-12 mb-4">
    <input
      type="text"
      id="contact-form-name"
      name="name"
      class="form-control border-form-control required"
      placeholder="Nombre"
      required
    />
  </div>
  <div class="w-100"></div>
  <div class="col-md-12 mb-4">
    <input
      type="email"
      id="contact-form-email"
      name="email"
      class="required email form-control border-form-control"
      placeholder="Correo"
      required
    />
  </div>
  <div class="w-100"></div>
  <div class="col-md-12 mb-4">
    <input
      type="tel"
      id="contact-form-phone"
      name="phone"
      class="required email form-control border-form-control"
      placeholder="Teléfono"
      minlength="10"
      required
    />
  </div>
  <div class="w-100"></div>
  <div class="col-12 mb-4">
    <textarea
      class="required form-control border-form-control"
      id="contact-form-message"
      name="message"
      rows="3"
      cols="30"
      placeholder="Tu Mensaje"
      required></textarea>
  </div>
  <div class="col-12 text-center mb-4">
    <button
      id="contact-form-button"
      class="button button-border button-circle fw-medium ms-0 mt-4"
    >
      Enviar Mensaje
    </button>
  </div>
</form>
<script is:inline src="/js/contact-form.ts"></script>
