---
import { Image } from "astro:assets";
const { images = [], alt = "imagen" } = Astro.props;
---

<div class="content-intro p-t-77 p-b-80">
  <div class="owl-carousel">
    {
      images.map((img) => (
        <Image
          class="carousel-img"
          src={img}
          alt={alt}
          style={{ height: "auto" }}
        />
      ))
    }
  </div>
</div>
