---
import { Image } from "astro:assets";
let { src, alt = "" } = Astro.props;
---

{
  src && (
    <div class="size3 bo-rad-10 hov-img-zoom m-l-r-auto">
      <Image src={src} alt={`IMAGEN: ${alt}`} />
    </div>
  )
}
