---
import { Image } from "astro:assets";
let { src, alt = "", isResponsive= false, id = "" } = Astro.props;
---

{
  src && (
    <div id="imagen-zoom-div" 
      class="bo-rad-10 hov-img-zoom m-l-r-auto" 
      style={isResponsive ? "max-height:500px;":""}>
      <Image
        id="123"
        src={src}
        id={`${id}-img`}
        alt={`IMAGEN: ${alt}`}
        style="max-width: 100%; height: auto;"
      />
      {isResponsive && <style>
        #imagen-zoom-div {
          width: 60%;
        }
        @media screen and (max-width: 900px) {
          #imagen-zoom-div {
            width: 100%;
          }
        }
      </style>}
    </div>
  )
}
