---
import { Image } from "astro:assets";
let { src, alt = "", id = "", className = "" } = Astro.props;
---

{
  src && (
    <div
      class={`bo-rad-10 hov-img-zoom ${className}`}
      style="overflow: hidden;"
    >
      <Image
        src={src}
        id={`${id}-img`}
        alt={`IMAGEN: ${alt}`}
        style="width: 100%; height: 420px; object-fit: cover; display: block;"
      />
    </div>
  )
}
