---
import Paragraph from "./Paragraph.astro";
const { object, inline = false } = Astro.props;
---

<>
  {
    Object.entries(object).map(([title, content]) => (
      <div class="p-b-30">
        <Paragraph>
          <strong>{`${title}: `}</strong>
          {inline && <span>{content}</span>}
        </Paragraph>
        {!inline && (
          <Paragraph>
            <span>{content}</span>
          </Paragraph>
        )}
      </div>
    ))
  }
</>
