---
const {
  className = "",
  style = "",
  isTextCenter = true,
  isJustify = true,
} = Astro.props;

let newClass = "";
newClass += className;
newClass += isTextCenter ? " t-center" : "";

let newStyle = "";
newStyle += style;
newStyle += " font-size: 1.2em; line-height: 1.5; color: #666666;";
newStyle += isJustify ? " text-align: justify;" : "";
---

<p class={newClass} style={newStyle}><slot /></p>
