---
const { items, style = "", flex = false, tab = false } = Astro.props;

let ulStyle = style;
ulStyle += flex ? " display:flex; flex-direction: column; gap:20px;" : "";

let pStyle = "font-size:1.2rem; text-align: justify;";
pStyle += tab ? " padding-left: 10px" : "";
---

<ul style={ulStyle}>
  {
    items.map((text) => (
      <li>
        <p style={pStyle}>{text}</p>
      </li>
    ))
  }
</ul>
