<div class="vertical-middle slider-element-fade">
  <div class="container text-center py-5">
    <div class="emphasis-title">
      <h1>
        <span class="nocolor">
          <span class="fw-bold font-body opm-large-word">
            <span class="animated fadeIn"><slot /></span>
          </span>
        </span>
      </h1>
    </div>
    <slot name="button" />
  </div>
</div>
