# Configuración del Puerto (Opcional, por defecto 3000)
PORT=3000

# Credenciales de EmailJS (Requeridas para el formulario de contacto)
# Debes obtenerlas de https://dashboard.emailjs.com/
EMAIL_PUBLIC_KEY=
EMAIL_SERVICE_ID=
EMAIL_TEMPLATE_ID=
