---
import { Image } from "astro:assets";
import VisionImg from "../../../assets/img/electronic.jpg";
---

<section id="section-supplies-electronics" class="ds-inner-section ds-alt">
  <div class="ds-inner-wrap">
    <h2>Suministro de Instrumentación y Equipo Electrónico</h2>
    <div class="ds-service-grid ds-reverse">
      <div class="ds-service-text">
        <p class="ds-inner-p">Somos importadores directos de instrumentación para la industria como indicadores y transmisores de presión, temperatura y flujo, adicionalmente de relevadores o relé, termopozos y otros.</p>
      </div>

      <div class="ds-service-visual">
        <Image
          src={VisionImg}
          alt="Instrumentación y equipo electrónico industrial"
          style={{ width: "100%", borderRadius: "0.5rem", display: "block" }}
        />
      </div>
    </div>
  </div>
</section>
