---
import { Image } from "astro:assets";
import MisionImg from "../../../assets/img/valves.jpg";
---

<section id="section-supplies-mechanical" class="ds-inner-section">
  <div class="ds-inner-wrap">
    <h2>Suministro de Materiales y Accesorios Mecánicos</h2>
    <div class="ds-service-grid">
      <div class="ds-service-text">
        <p class="ds-inner-p">Somos comercializadores e importadores directos de suministros mecánicos para construcción y mantenimiento industrial como: válvulas, bridas, uniones, olets y tubería en acero al carbono y acero inoxidable de uso industrial.</p>
        <p class="ds-inner-p">Dentro de nuestro portafolio de válvulas suministramos tipo bola, compuerta, globo, mariposa, cheque, aguja, válvulas de choke, así como accesorios tipo wphy o de tipo especial.</p>
        <p class="ds-inner-p">Conocemos y manejamos los listados de proveedores avalados para operadores como ECOPETROL, Cenit, Ocensa, Geopark, Gran Tierra, ODL y otros.</p>
      </div>

      <div class="ds-service-visual">
        <Image
          src={MisionImg}
          alt="Suministro de válvulas y accesorios mecánicos para industria"
          style={{ width: "100%", borderRadius: "0.5rem", display: "block" }}
        />
      </div>
    </div>
  </div>
</section>
