---
import Separator from "../../section/Separator.astro";
import Carousel from "../../section/Carousel.astro";

import ApolloLogo from "../../../assets/img/suppliers/apollo.jpg";
import BoteliLogo from "../../../assets/img/suppliers/boteli.jpg";
import CraneLogo from "../../../assets/img/suppliers/crane.jpg";
import EmersonLogo from "../../../assets/img/suppliers/emerson.png";
import NewayLogo from "../../../assets/img/suppliers/neway.jpg";
import SimensLogo from "../../../assets/img/suppliers/simens.png";
import WalworthLogo from "../../../assets/img/suppliers/walworth.png";
import YDFLogo from "../../../assets/img/suppliers/ydf.jpg";

const images = [
  ApolloLogo,
  BoteliLogo,
  CraneLogo,
  EmersonLogo,
  NewayLogo,
  SimensLogo,
  WalworthLogo,
  YDFLogo,
];
---

<section id="section-clients">
  <Separator>Proveedores</Separator>
  <Carousel images={images} alt="Client" />
</section>
