---
import Separator from "../../section/Separator.astro";

const id = "section-services-welding-quality";
const title = "Sistemas de protección catódica";
---

<section id={id}>
  <Separator slot="separator">{title}</Separator>
  <div slot="bottom" class="container p-t-22">
    <div class="p-2 p-sm-1 p-md-3 p-lg-5">
      <div>
        <h3 style="text-align: center;">
          <strong>
            Diseño, inspección, mantenimiento, construcción y puesta en marcha
            de sistemas de protección catódica
          </strong>
        </h3>
        <p style="text-align: justify;">
          La Protección Catódica es una técnica para reducir o eliminar la
          generación de corrosión de un metal (tanque, tubería, etc), haciendo
          que la superficie de este funcione completamente como cátodo cuando se
          encuentra sumergido o enterrado en un electrolito. Esto se consigue
          mediante la aplicación de corriente directa o la unión con un material
          de sacrificio.
        </p>
        <p style="text-align: justify;">
          En DILAGO INGENIERIA SAS ofrecemos los servicios de diseño,
          instalación, puesta en marcha, inspección y evaluación de Sistemas de
          Protección Catódica para:
        </p>
        <br />
        <p>
          • Ductos<br />
           • Tanques enterrados<br />
           • Fondo de tanques atmosféricos<br />
           • Estaciones de bombeo, refinerías, plantas de almacenamiento.<br />
           • Muelles<br />
           • Plataformas marinas<br />
        </p>
        <br />
        <p>
          Para llevar a cabo las actividades anteriormente mencionadas contamos
          con los siguientes estudios:
        </p>
        <ul>
          <li><p>Inspección CIPS</p></li>
          <li><p>Medición de Kits de aislamiento</p></li>
          <li><p>Levantamiento de Perfil de Resistividades</p></li>
          <li><p>Evaluación de interferencias AC/DC</p></li>
          <li>
            <p>
              Caracterización y Evaluación de la actividad corrosiva del suelo
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
