---
import Separator from "../../section/Separator.astro";

const id = "section-services-hydrostatic-testing";
const title = "Pruebas Hidrostaticas";
---

<section id={id}>
  <Separator slot="separator">{title}</Separator>
  <div slot="bottom" class="container p-t-22">
    <div class="p-2 p-sm-1 p-md-3 p-lg-5">
      <h3 style="text-align: center; font-weight: bold;">{title}</h3>
    </div>
  </div>
</section>
