---
import Paragraph from "../../section/Paragraph.astro";
import Separator from "../../section/Separator.astro";

const id = "section-services-inspections";
const title = "Inspecciones  bajo API 653, 510, 570";
---

<section id={id}>
  <Separator slot="separator">{title}</Separator>
  <div slot="bottom" class="container p-t-22">
    <div class="p-2 p-sm-1 p-md-3 p-lg-5">
      <div class="entry-content" itemprop="text">
        <h3 style="text-align: center;">
          <strong>Inspecciones&nbsp; bajo API 653, 510, 570</strong>
        </h3>
        <Paragraph style="text-align: justify;">
          <strong>API 653:</strong> El Código API 653 ”Tank Inspection, Repair,
          Alteration and Reconstruction” proporciona los requisitos mínimos para
          mantener la integridad de tanques de almacenamiento en acero
          utilizados en la industria del petróleo y química construidos bajo el
          Estándar API650 y su precursor API 12C, después de que estos se hayan
          colocado en servicio; este estándar provee guías para su inspección,
          reparación, alteración y reconstrucción.
        </Paragraph>
        <Paragraph>
          <strong>API 510:</strong> El Código API 510 “”Pressure Vessel
          Inspection Code: Maintenance Inspection, Rating, Repair, and
          Alteration”” describe el procedimiento de Inspección de mantenimiento,
          clasificación, reparación y alteración de recipientes a presión
          utilizados por las industrias de petróleo y química que hayan sido
          puestos en servicio y construidos de acuerdo con la Sección VIII del
          código ASME y otros códigos de recipientes a presión reconocidos.
        </Paragraph>
        <Paragraph>
          <strong>API 570:</strong> El Código API 570 “”Piping Inspection Code:
          In-service Inspection, Rating, Repair, and Alteration of Piping
          Systems”” cubre los procedimientos de inspección, clasificación,
          reparación y alteración para determinar la integridad de sistemas de
          tuberías metálicas o de plástico reforzado con fibra de vidrio (FRP) y
          los dispositivos de alivio de presión asociados que han sido puestos
          en servicio. Además, proporciona evaluaciones razonablemente precisas
          y oportunas para determinar si cualquier cambio en la condición de la
          tubería podría comprometer su funcionamiento continuo y seguro.
        </Paragraph>
        <Paragraph>
          Para llevar a cabo la inspección de tanques bajo los estandares API
          653, API 510 Y API 570, contamos con inspectores certificados en cada
          uno de los estandares y Ensayos No Destructivos de última tecnología
          los cuales listamos a continuación:<br />
           • Boroscopia<br />
           • Radiografía<br />
           • Ensayo dureza<br />
           • Corrientes de Eddy<br />
           • Inspección visual<br />
           • Liquidos Penetrantes<br />
           • Metalografía<br />
           • Ultra sonido convencional<br />
           • Pahased ArrayParticulas Magnéticas<br />
           • TOFD<br />
           • Ultrasonido Scan A/B/C
        </Paragraph>
      </div>
    </div>
  </div>
</section>
