---
import { Image } from "astro:assets";
import WeldingImg from "../../../assets/img/services/pt.jpg";
---

<section id="section-services-welding-quality" class="ds-inner-section ds-alt">
  <div class="ds-inner-wrap">
    <h2>Calificación de Soldaduras</h2>
    <div class="ds-service-grid">
      <div class="ds-service-text">
        <p class="ds-inner-h4">Especificación del Procedimiento de Soldadura (WPS)</p>
        <p class="ds-inner-p">En este documento se plasman las variables esenciales y no esenciales que involucran la soldadura, para esto es necesario la participación del inspector de soldadura, supervisor de soldadura y un soldador.</p>

        <p class="ds-inner-h4">Servicios de Calificación</p>
        <ul class="ds-inner-list">
          <li>Pruebas de tensión</li>
          <li>Ensayos de doblez</li>
          <li>Inspección visual</li>
          <li>Radiografía</li>
          <li>Partículas magnéticas</li>
          <li>Ultrasonido</li>
          <li>Ensayos de dureza</li>
          <li>Identificación positiva de materiales (PMI)</li>
          <li>Macroataque</li>
        </ul>
      </div>

      <div class="ds-service-visual">
        <Image
          src={WeldingImg}
          alt="Calificación de procedimientos y soldadores en la industria"
          style={{ width: "100%", borderRadius: "0.5rem", display: "block" }}
        />

        <p class="ds-inner-h4" style="margin-top: 2rem;">Calificación de Procedimientos de Soldadura (PQR)</p>
        <p class="ds-inner-p">Cada procedimiento debe estar respaldado por pruebas verificables registradas con los factores esenciales y relevantes. DILAGO INGENIERÍA S.A.S cuenta con personal altamente calificado para desarrollar WPS según códigos ASME, API y AWS.</p>

        <p class="ds-inner-h4">Calificación de Soldadores (WPQ)</p>
        <p class="ds-inner-p">Contamos con personal idóneo como CWI o ICS o inspector ACOSEND para realizar calificaciones de soldadores que demuestren sus capacidades según lo exijan API, ASME o AWS.</p>
      </div>
    </div>
  </div>
</section>
