.owl-stage {
  display: flex;
  flex-direction: row;
  align-items: end;
}

/* Style for the WhatsApp anchor */
.whatsapp-anchor {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  background-color: #25d366; /* WhatsApp green background color */
  border-radius: 50%; /* Makes the container round */
  width: 60px; /* Adjust the size of the container as needed */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s;
  z-index: 999; /* Ensures it appears above other content */
}

/* Style for the WhatsApp icon (adjust the path to your image) */
.whatsapp-anchor img {
  width: 40px; /* Adjust the size of the icon as needed */
}

/* Add a hover effect to the anchor */
.whatsapp-anchor:hover {
  transform: scale(1.1); /* Slightly scale up on hover */
}
