.LGLeeN-keyboard-shortcuts-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.LGLeeN-keyboard-shortcuts-view table,
.LGLeeN-keyboard-shortcuts-view tbody,
.LGLeeN-keyboard-shortcuts-view td,
.LGLeeN-keyboard-shortcuts-view tr {
  background: inherit;
  border: none;
  margin: 0;
  padding: 0;
}
.LGLeeN-keyboard-shortcuts-view table {
  display: table;
}
.LGLeeN-keyboard-shortcuts-view tr {
  display: table-row;
}
.LGLeeN-keyboard-shortcuts-view td {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  color: #000;
  padding: 6px;
  vertical-align: middle;
  white-space: nowrap;
}
.LGLeeN-keyboard-shortcuts-view td:first-child {
  text-align: end;
}
.LGLeeN-keyboard-shortcuts-view td kbd {
  background-color: #e8eaed;
  border-radius: 2px;
  border: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  font-family: Google Sans Text, Roboto, Arial, sans-serif;
  line-height: 16px;
  margin: 0 2px;
  min-height: 20px;
  min-width: 20px;
  padding: 2px 4px;
  position: relative;
  text-align: center;
}
.gm-control-active > img {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: none;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.gm-control-active > img:nth-child(1) {
  display: block;
}
.gm-control-active:focus > img:nth-child(1),
.gm-control-active:hover > img:nth-child(1),
.gm-control-active:active > img:nth-child(1),
.gm-control-active:disabled > img:nth-child(1) {
  display: none;
}
.gm-control-active:focus > img:nth-child(2),
.gm-control-active:hover > img:nth-child(2) {
  display: block;
}
.gm-control-active:active > img:nth-child(3) {
  display: block;
}
.gm-control-active:disabled > img:nth-child(4) {
  display: block;
}
.gm-ui-hover-effect {
  opacity: 0.6;
}
.gm-ui-hover-effect:hover {
  opacity: 1;
}
.gm-ui-hover-effect > span {
  background-color: #000;
}
@media (forced-colors: active), (prefers-contrast: more) {
  .gm-ui-hover-effect > span {
    background-color: ButtonText;
  }
}
.gm-style .gm-style-cc a,
.gm-style .gm-style-cc button,
.gm-style .gm-style-cc span,
.gm-style .gm-style-mtc div {
  font-size: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.gm-style .gm-style-cc a,
.gm-style .gm-style-cc button,
.gm-style .gm-style-cc span {
  outline-offset: 3px;
}
@media print {
  .gm-style .gmnoprint,
  .gmnoprint {
    display: none;
  }
}
@media screen {
  .gm-style .gmnoscreen,
  .gmnoscreen {
    display: none;
  }
}
.gm-style-moc {
  background-color: rgba(0, 0, 0, 0.45);
  pointer-events: none;
  text-align: center;
  -webkit-transition: opacity ease-in-out;
  -o-transition: opacity ease-in-out;
  transition: opacity ease-in-out;
}
.gm-style-mot {
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  position: relative;
  top: 50%;
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.gm-style img {
  max-width: none;
}
.gm-style {
  font: 400 11px Roboto, Arial, sans-serif;
  text-decoration: none;
}
.dark #header-wrap:not(.not-dark) #logo [class^="logo-"],
.dark .header-row:not(.not-dark) #logo [class^="logo-"] {
  display: none;
}
.dark #header-wrap:not(.not-dark) #logo .logo-dark,
.dark .header-row:not(.not-dark) #logo .logo-dark {
  display: flex;
}
