---
import Landing from "../components/Landing.astro";
import Mision from "../components/about/Mision.astro";
import Politicas from "../components/about/Politicas.astro";
import Vision from "../components/about/Vision.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Landing img="/assets/img/historia.jpg">
    <div class="vertical-middle slider-element-fade">
      <div class="container text-center py-5">
        <div class="emphasis-title">
          <h1>
            <span class="nocolor">
              <span class="fw-bold font-body opm-large-word">
                <span class="animated fadeIn">Nuestra Historia.</span>
              </span>
            </span>
          </h1>
        </div>
      </div>
    </div>
  </Landing>
  <section id="content">
    <div class="content-wrap py-0">
      <Mision />
      <Vision />
      <Politicas />
    </div>
  </section>
</Layout>
