---
import Landing from "../components/Landing.astro";
import Layout from "../layouts/Layout.astro";
import HistorySection from "../components/home/HistorySection.astro";
import BussinesSection from "../components/home/BussinesSection.astro";
import ExperienceSection from "../components/home/ExperienceSection.astro";
import ClientsSection from "../components/home/ClientsSection.astro";
import ContactSection from "../components/home/ContactSection.astro";
---

<Layout>
  <Landing />
  <section id="content">
    <div class="content-wrap py-0">
      <HistorySection />
      <BussinesSection />
      <ExperienceSection />
      <ClientsSection />
      <ContactSection />
    </div>
  </section>
</Layout>
