---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/pages/home/HeroSection.astro";
import HistorySection from "../components/pages/home/HistorySection.astro";
import BussinesSection from "../components/pages/home/BussinesSection.astro";
import ExperienceSection from "../components/pages/home/ExperienceSection.astro";
import CertificationsSection from "../components/pages/home/CertificationsSection.astro";
import ContactSection from "../components/pages/home/ContactSection";
---

<Layout
  title="Dilago Ingeniería SAS | Protección Catódica, NDT y Refuerzos No Metálicos en Colombia"
  description="Empresa colombiana especializada en protección catódica, ensayos no destructivos (NDT), instalación de refuerzos mecánicos no metálicos, estudios de interferencia y localización de estructura metálica enterrada."
>
  <HeroSection />

  <section id="content">
    <div class="content-wrap py-0">
      <HistorySection />
      <BussinesSection />
      <ExperienceSection />
      <div class="ds-carousel-section">
        <CertificationsSection />
      </div>
      <ContactSection />
    </div>
  </section>
</Layout>
