---
import Landing from "../components/Landing.astro";
import Layout from "../layouts/Layout.astro";
import HistorySection from "../components/home/HistorySection.astro";
import BussinesSection from "../components/home/BussinesSection.astro";
import ExperienceSection from "../components/home/ExperienceSection.astro";
import ClientsSection from "../components/home/ClientsSection.astro";
import ContactSection from "../components/home/ContactSection.astro";
---

<Layout>
  <Landing img="assets/img/refinery.jpg">
    <div class="vertical-middle slider-element-fade">
      <div class="container text-center py-5">
        <div class="emphasis-title">
          <h1>
            <span class="nocolor">
              <span class="fw-bold font-body opm-large-word">
                <span class="animated fadeIn">Bienvenidos.</span>
              </span>
            </span>
          </h1>
        </div>
        <a
          href="./assets/pdf/Presentación corporativa.pdf"
          class="button button-border button-light button-circle"
          download>Descargar Brochure</a
        >
      </div>
    </div>
  </Landing>
  <section id="content">
    <div class="content-wrap py-0">
      <HistorySection />
      <BussinesSection />
      <ExperienceSection />
      <ClientsSection />
      <ContactSection />
    </div>
  </section>
</Layout>
