---
import Layout from "../layouts/Layout.astro";

import Landing from "../components/Landing.astro";
import TitleXL from "../components/basic/TitleXL.astro";

import Courses from "../components/pages/training/Courses.astro";
import Items from "../components/pages/training/Items.astro";

import TrainingImg from "../assets/img/training-01.jpg";
---

<Layout>
  <Landing img={TrainingImg}>
    <TitleXL>Capacitaciones</TitleXL>
  </Landing>
  <section id="content">
    <div class="content-wrap py-0">
      <Courses />
      <Items />
    </div>
  </section>
</Layout>
