---
import Separator from "../section/Separator.astro";
---

<section id="section-clients">
  <Separator img="" title="Clientes" />
  <div class="content-intro p-t-77 p-b-80">
    <div class="owl-carousel">
      <img
        class="carousel-img"
        src="./assets/img/clients/celsia.png"
        alt="Clients"
      />
      <img
        class="carousel-img"
        src="./assets/img/clients/logo-confipetrol.png"
        alt="Clients"
      />
      <img
        class="carousel-img"
        src="./assets/img/clients/logo-ohl.png"
        alt="Clients"
      />
      <img
        class="carousel-img"
        src="./assets/img/clients/mansarovar.png"
        alt="Clients"
      />
      <img
        class="carousel-img"
        src="./assets/img/clients/tecnicontrol_logo.png"
        alt="Clients"
      />
    </div>
  </div>
</section>
