<section id="section-history" class="bg4-pattern p-t-120 p-b-105">
  <div class="container">
    <div class="t-center">
      <h3 class="tit5 t-center">Historia</h3>
    </div>
    <div class="row py-6">
      <div class="col-md-6 d-flex align-items-center">
        <div class="t-center p-b-30">
          <p class="t-center m-b-30 m-l-10 m-r-10">
            Somos una empresa de Ingeniería, especializada en capacitaciones
            técnicas, consultorías, suministro de personal y equipos en el campo
            de ensayos no destructivos, integridad de equipos, recubrimientos,
            protección catódica, calidad en soldaduras y de más áreas del sector
            energético.
          </p>
          <a href="./about.html" class="txt4">
            VER MAS
            <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="size3 bo-rad-10 hov-img-zoom m-l-r-auto">
          <img src="./assets/img/historia.jpg" alt="IMG-OUR" />
        </div>
      </div>
    </div>
  </div>
</section>
