---
import HistoryImg from "../../assets/img/historia.jpg";
import ImageZoom from "../section/ImageZoom.astro";
---

<section id="section-history" class="bg4-pattern p-t-120 p-b-105">
  <div class="container">
    <div class="t-center">
      <h3 class="tit5 t-center">Historia</h3>
    </div>
    <div class="row py-6">
      <div class="col-md-6 d-flex align-items-center">
        <div class="t-center p-b-30">
          <p class="t-center m-b-30 m-l-10 m-r-10">
            Somos una empresa cuya razón social esta enfocada a proveer diseños
            de protección catódica, calificación de procedimientos de soldadura,
            ensayos no destructivos, supervisión de obras, estudios y análisis
            de riesgos en ductos, suministro de personal, insumos y equipos que
            presta sus servicios principalmente al sector energético, cuyo
            principal objetivo es alcanzar la satisfacción del cliente de una
            manera eficiente.
          </p>
          <a href="./about.html" class="txt4">
            VER MAS
            <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <ImageZoom src={HistoryImg} alt="Nuestra historia imagen." />
      </div>
    </div>
  </div>
</section>
