---
import ImageZoom from "../../section/ImageZoom.astro";
import Paragraph from "../../section/Paragraph.astro";
import Section from "../../section/Section.astro";
import Title from "../../section/Title.astro";
import MisionImg from "../../../assets/img/historia.jpg";

const text =
  "Contamos con más de 30 programas, ajustados a las necesidades del mercado actual en la industria de hidrocarburos, civil, y metalmecánica adicionalmente DILAGO INGENIERIA SAS maneja un  calendario de programación o capacitaciones in company, que se apta para las necesidades del profesional. Teniendo como principal objetivo la satisfacción y adquisición eficiente del conocimiento así como  la obtención de la calificación oportuna según sea su requerimiento. ";
const title = "Capacitaciones";
const alt = "Capacitaciones";
---

<Section id="section-courses">
  <Title slot="title">{title}</Title>
  <Paragraph slot="left">{text}</Paragraph>;
  <ImageZoom slot="right" src={MisionImg} alt={alt} />
</Section>
