---
const mision = {
  title: "Misión",
  text: "Suministrar servicios a las personas y/o empresas que así lo requieran, cumpliendo con la normatividad establecida y a la vanguardia de las nuevas tecnologías que contribuyan al desarrollo socioeconómico de nuestros clientes de forma segura y con responsabilidad ambiental.",
};

const vision = {
  title: "Visión",
  text: "Posicionarnos en el mercado nacional como una compañía líder en el suministro integral de servicios y suministros, que cumplan a cabalidad las especificaciones de nuestros clientes.",
};
---

<section id="section-mision" class="ds-inner-section">
  <div class="ds-inner-wrap">
    <h2>Misión y Visión</h2>
    <div class="ds-service-grid">
      <div class="ds-service-text">
        <p class="ds-inner-h4">{mision.title}</p>
        <p class="ds-inner-p">{mision.text}</p>
      </div>
      <div class="ds-service-text">
        <p class="ds-inner-h4">{vision.title}</p>
        <p class="ds-inner-p">{vision.text}</p>
      </div>
    </div>
  </div>
</section>
