---
import Whatsapp from "../assets/svg/Whatsapp.svg";
const alt = "Whatsapp icon";
---

<a
  class="whatsapp-anchor"
  href="https://api.whatsapp.com/send?phone=573016720512"
  target="_blank"
  rel="noopener noreferrer"
  title="Whatsapp"
>
  <img src={Whatsapp.src} alt={alt} />
</a>
