---
import Separator from "../../basic/Separator.astro";
import Card from "../../basic/Card.astro";
import TrainingImg from "../../../assets/img/new/capacitaciones.jpg";
import ServicesImg from "../../../assets/img/services-01.jpeg";
import SuppliesImg from "../../../assets/img/supplies-01.jpeg";
import Title from "../../basic/Title.astro";
import Section from "../../basic/Section.astro";

const title = "Lineas de Negocio";
const sections = [
  {
    title: "Capacitaciones",
    text: "Contamos con más de 30 programas, ajustados a las necesidades del mercado actual en la industria de hidrocarburos, civil, y metalmecánica.",
    img: TrainingImg,
    alt: "Capacitaciones",
    href: "/training",
  },
  {
    title: "Servicios",
    text: "Ofrecemos una amplia gama de servicios que cumplen con los estándares y códigos de la industria, garantizando la calidad y seguridad de los proyectos.",
    img: ServicesImg,
    alt: "Servicios",
    href: "/services",
  },
  {
    title: "Suministros",
    text: "Ofrecemos una variedad de suministros que incluyen materiales y accesorios mecánicos, así como instrumentacion y equipo electrónico.",
    img: SuppliesImg,
    alt: "Suministros",
    href: "/supplies",
  },
];

const className = "col-md-4 p-t-30";
---

<Section id="section-bussines">
  <Title slot="title">{title}</Title>
  <div slot="bottom" class="content-intro">
    <div class="container">
      <div class="row">
        {
          sections.map((d) => {
            const props = { ...d, className };
            return <Card {...props} />;
          })
        }
      </div>
    </div>
  </div>
</Section>
