---
import Separator from "../../basic/Separator.astro";
import Carousel from "../../basic/Carousel.astro";

import RucImg from "../../../assets/img/certificades/ruc.png";
import CcsImg from "../../../assets/img/certificades/ccs.png";
import Iso14001Img from "../../../assets/img/certificades/ISO-14001.png";
import Iso45001Img from "../../../assets/img/certificades/ISO-45001.png";
import Iso9001Img from "../../../assets/img/certificades/ISO-9001.png";

const images = [Iso14001Img, Iso9001Img, Iso45001Img, RucImg, CcsImg];
---

<section id="section-clients">
  <Separator>Certificaciones</Separator>
  <Carousel images={images} alt="Client" />
</section>
