---
import Separator from "../../basic/Separator.astro";

import CelsiaImg from "../../../assets/img/clients/celsia.png";
import ConfipetrolImg from "../../../assets/img/clients/logo-confipetrol.png";
import OhkImg from "../../../assets/img/clients/logo-ohl.png";
import MansarovarImg from "../../../assets/img/clients/mansarovar.png";
import TecnicontrolImg from "../../../assets/img/clients/tecnicontrol_logo.png";
import Carousel from "../../basic/Carousel.astro";

const images = [
  CelsiaImg,
  ConfipetrolImg,
  OhkImg,
  MansarovarImg,
  TecnicontrolImg,
];
---

<section id="section-clients">
  <Separator>Clientes</Separator>
  <Carousel images={images} alt="Client" />
</section>
