<section id="section-contact">
  <div class="content-intro bg-white p-t-77 p-b-70">
    <div class="container">
      <div class="t-center m-b-22">
        <h3 class="tit5 t-center m-t-2">Envia un Mensaje</h3>
      </div>
      <div class="mt-5 row">
        <div class="col-lg-6 px-5">
          <div>
            <div class="mx-auto" style="max-width: 850px">
              <div class="form-widget">
                <div class="form-result"></div>
                <form
                  class="row mb-0"
                  id="template-contactform"
                  name="template-contactform"
                  action=""
                  method="post"
                >
                  <div class="col-md-6 mb-4">
                    <input
                      type="text"
                      id="template-contactform-name"
                      name="template-contactform-name"
                      class="form-control border-form-control required"
                      placeholder="Nombre"
                    />
                  </div>
                  <div class="col-md-6 mb-4">
                    <input
                      type="text"
                      id="template-contactform-phone"
                      name="template-contactform-phone"
                      class="form-control border-form-control"
                      placeholder="Telefono"
                    />
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-12 mb-4">
                    <input
                      type="email"
                      id="template-contactform-email"
                      name="template-contactform-email"
                      class="required email form-control border-form-control"
                      placeholder="Correo"
                    />
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-12 mb-4">
                    <input
                      type="text"
                      id="template-contactform-subject"
                      name="subject"
                      class="required form-control border-form-control"
                      placeholder="Asunto"
                    />
                  </div>
                  <div class="w-100"></div>
                  <div class="col-12 mb-4">
                    <textarea
                      class="required form-control border-form-control"
                      id="template-contactform-message"
                      name="template-contactform-message"
                      rows="3"
                      cols="30"
                      placeholder="Tu Mensaje"></textarea>
                  </div>
                  <div class="col-12 text-center mb-4">
                    <button
                      class="button button-border button-circle fw-medium ms-0 mt-4"
                      type="submit"
                      id="template-contactform-submit"
                      name="template-contactform-submit"
                      value="submit"
                    >
                      Enviar Mensaje
                    </button>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-12 d-none">
                    <input
                      type="text"
                      id="template-contactform-botcheck"
                      name="template-contactform-botcheck"
                      class="form-control"
                    />
                  </div>
                  <input
                    type="hidden"
                    name="prefix"
                    value="template-contactform-"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 px-5">
          <div>
            <iframe
              class="bo-rad-10"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.5855353344195!2d-73.85118218884627!3d7.057888092915102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e42ecae97075bf7%3A0x7fc32d9b2d2fe560!2sDilago%20Ingeniería%20Sas!5e0!3m2!1sen!2sco!4v1696885880695!5m2!1sen!2sco"
              height="350"
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    </div>
  </div>
</section>
