---
import { Image } from "astro:assets";
import DefaultImage from "../../assets/img/historia.jpg";
let { src, alt } = Astro.props;
src = src || DefaultImage;
alt = alt || "image";
---

<div class="size3 bo-rad-10 hov-img-zoom m-l-r-auto">
  <Image src={src} alt={alt} />
</div>
