---
import Paragraph from "./Paragraph.astro";
const { object } = Astro.props;
---

<div>
  {
    Object.entries(object).map(([title, content]) => (
      <div class="p-b-30">
        <Paragraph>
          <strong>{`${title}: `}</strong>
        </Paragraph>
        <Paragraph>
          <span>{content}</span>
        </Paragraph>
      </div>
    ))
  }
</div>
