---
const { items, style } = Astro.props;
---

<ul style={`display:flex; flex-direction: column; gap:20px; ${style}`}>
  {
    items.map((text) => (
      <li>
        <p style="font-size:1.2rem; text-align: justify;">{text}</p>
      </li>
    ))
  }
</ul>
