---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import WhatsappIcon from "../components/WhatsappIcon.astro";

import "../assets/css/style.css";
import "../assets/css/font-icons.css";
import "../assets/css/onepage.css";
import "../assets/css/home.css";
import "../assets/css/util.css";
import "../assets/css/main.css";
import "../assets/css/new.css";

import IconImg from "../assets/img/icon.png";
---

<html dir="ltr" lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="author" content="" />
    <meta name="description" content="Dilago Ingeniería pagina web" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href={IconImg.src} />
    <title>Dilago Ingeniería</title>
  </head>
  <body class="stretched">
    <div id="wrapper">
      <Header />
      <slot />
      <WhatsappIcon />
      <Footer />
    </div>
    <script is:inline src="/js/functions.bundle.js"></script>
    <script is:inline src="/js/clients-carousel.js"></script>
  </body>
</html>
